@import 'redrail/fonts.css';

:root {
    --side-bar-bg-color: #fff;
    --control-text-color: #777;
    --select-text-bg-color: #ffafa3;
    --active-file-text-color: #262626;
    --active-file-border-color: #f22f27;
    /* --active-file-bg-color: #fff3f0; */
    --primary-color: #f22f27;
    /* 中性色 */
    --mid-1: #ffffff;
    --mid-2: #fafafa;
    --mid-3: #f5f5f5;
    --mid-4: #f0f0f0;
    --mid-5: #d9d9d9;
    --mid-6: #bfbfbf;
    --mid-7: #8c8c8c;
    --mid-8: #595959;
    --mid-9: #434343;
    --mid-10: #262626;
    --mid-11: #1f1f1f;
    --mid-12: #141414;
    --mid-13: #000000;
    /* 主题色 */
    --main-1: #fff3f0;
    --main-2: #ffd4cc;
    --main-3: #ffafa3;
    --main-4: #ff887a;
    --main-5: #ff5d52;
    --main-6: #f22f27;
    --main-7: #cc1616;
    --main-8: #a60a0f;
    --main-9: #80010a;
    --main-10: #590009;
}

html {
    font-size: 17px;
}

body {
    /*font-family: "Vollkorn", Palatino, Times; */
    /*font-family: 'Microsoft YaHei UI', Georgia, Times, 'SimSun', serif!important; */
    /*font-family: 'Source Han SerifCN', Georgia, Times, 'SimSun', serif!important; */
    /*font-family: Consolas, 'Source Han SerifCN', Georgia, Times, 'SimSun', serif!important;*/
    /*font-family: 'cascadia code', Consolas, 'Source Han SerifCN', Georgia, Times, 'SimSun';*/
    /*font-family: 'Menlo', Consolas, 'Source Han SerifCN', Georgia, Times, 'SimSun';*/
    font-family: 'Menlo', Consolas, 'Microsoft YaHei', '微软雅黑', Georgia, Times, 'SimSun';
    /*font-weight: regular;*/
    font-weight: normal;
    /*font-style: oblique;*/
    /*color: var(--mid-13);*/
    color: black;
    -webkit-font-smoothing: antialiased;
    /*line-height: 1.8rem;*/

    /* 这里原本少了个分号，但显示效果良好，不敢动，所以先注释一下 */
    line-height: 17px letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}

/* 设置源代码模式的字体颜色 */
.cm-s-typora-default .cm-code,
.cm-s-typora-default .cm-comment {
    color: #000000;
}


#write {
    /*页面的左右宽度*/
    max-width: 960px;
    margin: 0 auto;
    padding: 5px 30px 160px;
}

#write p {
    /*行间距*/
    line-height: 1.8rem;
    /*空格间距*/
    word-spacing: .05rem;
    font-weight: regular;
    /* color: #3f3f3f; */
    color: var(--mid-13);
    margin: 0;
    /*段间距*/
    padding: 0px 0;
}


/*#write ol li {
    padding-left: 0.5rem;    
} */

#write>ul:first-child,
#write>ol:first-child {
    margin-top: 30px;
}

body>*:first-child {
    margin-top: 0 !important;
}

body>*:last-child {
    margin-bottom: 0 !important;
}


/* a {
    color: var(--main-6);
    font-weight: 500;
    padding: 0 2px;
    text-decoration: none;
} */

a {
    color: blue;
    font-weight: 500;
    padding: 0 2px;
    text-decoration: none;
}


/* 链接 */


/* #write a {
    border-bottom: 1px solid var(--main-6);
    color: var(--main-6);
    text-decoration: none;
} */

#write a {
    border-bottom: 1px solid blue;
    color: blue;
    text-decoration: none;
}


/* 目录 */

#write a.md-toc-inner {
    line-height: 1.6;
    white-space: pre-line;
    border-bottom: none;
}

#write a:hover {
    border-bottom: 2px solid var(--main-6);
    color: var(--main-7);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}

h1 tt,
h1 code {
    font-size: inherit !important;
}

h2 tt,
h2 code {
    font-size: inherit !important;
}

h3 tt,
h3 code {
    font-size: inherit !important;
}

h4 tt,
h4 code {
    font-size: inherit !important;
}

h5 tt,
h5 code {
    font-size: inherit !important;
}

h6 tt,
h6 code {
    font-size: inherit !important;
}

h2 a,
h3 a {
    color: #34495e;
}

h1 {
    text-align: center;
    padding-bottom: 0.3em;
    font-size: 2.2em;
    line-height: 1.2;
    margin: 2.4em auto 1.2em;
    color: var(--main-10);
}

h1:after {
    content: '';
    display: block;
    margin: 0.2em auto 0;
    width: 100px;
    height: 2px;
    border-bottom: 2px solid var(--main-6);
}

h2 {
    margin: 0.8em auto 0.8em;
    /* padding-left: 10px; */
    /* display:inline-block; */
    line-height: 1.4;
    font-size: 1.8em;
    /* border-left: 9px solid var(--main-6); */
    /* border-bottom: 1px solid #ddd; */
    border-bottom: 1px solid var(--main-6);
}

h2::before {
    content: '# ' !important;
    color: #f22f27;
}

h3 {
    font-size: 1.4em;
    line-height: 1.43;
    margin: 0.5em auto 0.5em;
    padding-left: 9px;
    border-left: 5px solid #f22f27;
}


/* 三级四级标题点击后左边的提示图标 */

#write>h3.md-focus:before,
#write>h4.md-focus:before {
    width: auto;
    height: auto;
    background-color: var(--main-5);
    color: var(--mid-1);
}

h4 {
    margin-top: 0.5em;
    font-size: 1.2em;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    border: 1px solid var(--main-6);
    border-top: 1px solid var(--main-6);
}


#write h5::before,
#write h6::before {
    position: absolute;
    right: calc(100% + .75em);
    top: 0;
    color: #5b5b5b;
    font-size: 0.8rem;
    font-weight: bold;
    font-variant: 'small-caps';
    white-space: nowrap;
    /* 文本强制不换行 */
    border: 0;
}

#write h5 {
    /* margin-left: 2em; */
    font-size: 1rem;
}

#write h6 {
    /* margin-left: 2.5em; */
    font-size: 1rem;
}

#write h5::before {
    content: 'H5';
    top: 0.18rem;
}

#write h6::before {
    content: 'H6';
    top: 0.18rem;
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}

li>ol,
li>ul {
    margin: 0 0;
}

/*分割线*/
hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

body>h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

body>h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

body>h1:first-child+h2 {
    margin-top: 0;
    padding-top: 0;
}

body>h3:first-child,
body>h4:first-child,
body>h5:first-child,
body>h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
    margin-top: 0;
}

#write ol,
#write ul {
    padding-left: 25px;
    margin: .5rem 0;
}

#write ol>li,
#write ul>li {
    color: #db4d52;
    font-weight: bold;
}

#write ol>li>*,
#write ul>li>* {
    /*color: #333;*/
    color: black;
    font-weight: normal;
}

#write ol>li>*:not(ol):not(ul),
#write ul>li>*:not(ol):not(ul) {
    padding-left: .25rem;
}

#write ul {
    list-style-type: disc;
}

/*引用*/
blockquote {
    padding: 0.5rem 1rem;
    border-left: 6px solid #2f845e;
    background-color: rgba(66, 185, 131, 0.1);
    border-radius: 4px;
}

blockquote:before {
    content: "";
    width: 11.2px;
    height: 8.4px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAARCAYAAADHeGwwAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFBSURBVHgB7ZQ/UoNAFMa/t6BhYiF2ig2d2HGE5AYeIZwgeoLEk2S8QTxBcgNbxopGTReqmCjsk2UmCMifJDPOWPgVDLvzvd/7WN4s8Mui8gbbpgmjO2SGS5uVR0EYtkE+nfMemG4E0anmv3q1Dfj6YihBYzBMtZaQ/SN/Ma8Dp2E6JyNJfLvdSxoUmHpmdqyRZIyxh7jTnTGx2+QR6hE5lwOJHJwQJuv7xvRJICbk4BwIyEHZl35OfGU9ITMrI/fJXwS1cNs2pfGxzCCEKb1X/y+hzMglkWCvCZ4GOt70CilZ3tUNg4iMdeEMm47lu0qY21cGz5sC6eWN2LEmP3igBPLyUAUgJreqhiU/6s9vU1IzLCBmaFF+ZNVQEHjSViPWqzOBHUXQbOypyDDcnRscqv8Gf6ABx1rrdaykiWiJA/QFHEl+W66g4YEAAAAASUVORK5CYII=") no-repeat;
    display: block;
    background-size: contain;
    line-height: 160%;
    margin-left: 4px;
    margin-bottom: 7.2px
}

table {
    padding: 0;
    word-break: initial;
}

table tr {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n),
thead {
    background-color: #f8f8f8;
}

table th {
    font-weight: bold;
    border: 1px solid #e5dfdf;
    border-bottom: 0px;
    margin: 0;
    padding: 6px 13px;
}

table td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
    border: 1px solid #e5dfdf;
}

table th:first-child,
table td:first-child {
    margin-top: 0;
}

table th:last-child,
table td:last-child {
    margin-bottom: 0;
}


#write strong {
    padding: 0.1em;
    color: #dc3545;
}

#write em {
    padding: 0 2px 0 2px;
    font-style: normal;
    color: #ff3502;
    /* color: #595959;
    background: #F6EEFF; */
}


/* 数学公式变蓝 */

[md-inline='inline_math'] {
    color: #000000;
    font-size: 130%;

}




/* 表格第一行 */


/* #write table thead th {
    background-color: var(--main-7);
    color: #f8f8f8;
} */


/* 行号左框线 */

/* #write .CodeMirror-gutters {
    border-right: 1px solid rgba(204, 51, 0);
} */

/* code */
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    font-size: inherit;
}

code {
    background-color: rgba(34, 37, 38, 0.05);
    /* color: #e96900; */
    color: #ff0000;
    font-family: "Fira Code", Consolas, "Lucida Console", "Courier", monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 2px;
    padding: 3px 4px 1px;
    border-radius: 4px;
}

/* strike */
del {
    color: #999;
    text-decoration: line-through;
}

/* hightlight */
mark {
    color: #282c34;
    font-weight: 500;
    padding: 1px 5px 2px;
    border-radius: 2px;
}

/* hyperlink */

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

/* code fences */
.md-fences {
    font-family: "Fira Code", Consolas, "Lucida Console", "Courier", monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #222526;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 1rem;
    border: none;
    border-radius: 6px;
}

.md-fences[contenteditable="false"]:active,
.md-fences[contenteditable="false"]:focus {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.md-fences .code-tooltip {
    background-color: #222526;
    border-radius: 4px;
}

.md-fences span {
    color: #abb2bf;
}

.md-fences .code-tooltip .ty-input {
    color: #fff;
    font-weight: 500;
}

.ty-show .autoComplt-list li.active {
    background-color: #3e4249;
}

/* code container */
.cm-s-inner {
    background-color: #222526;
}

.cm-s-inner .CodeMirror-gutters {
    background-color: #222526;
    border: none;
}

.cm-s-inner .CodeMirror-guttermarker,
.cm-s-inner .CodeMirror-guttermarker-subtle,
.cm-s-inner .CodeMirror-linenumber {
    color: #737984;
}

.cm-s-inner .CodeMirror-cursor {
    border-left: 1px solid #528bff !important;
}

.cm-s-inner div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.15);
}

.cm-s-inner.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.1);
}

.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line>span::-moz-selection,
.cm-s-inner .CodeMirror-line>span>span::-moz-selection {
    background-color: #bac6e9;
}

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line>span::selection,
.cm-s-inner .CodeMirror-line>span>span::selection {
    background-color: #bac6e9;
}

.cm-s-inner .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0);
}

.cm-s-inner .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

.cm-s-inner .CodeMirror-selected,
.cm-s-inner .CodeMirror-selectedtext {
    background-color: #404859 !important;
}

/* code fences color */
.cm-s-inner .cm-keyword {
    color: #c678dd !important;
}

.cm-s-inner .cm-operator {
    color: #56b6c2 !important;
}

.cm-s-inner .cm-variable {
    color: #d19a66 !important;
}

.cm-s-inner .cm-variable-2 {
    color: #e06c75 !important;
}

.cm-s-inner .cm-variable-3 {
    color: #e06c75 !important;
}

.cm-s-inner .cm-builtin {
    color: #e8bf6a !important;
}

.cm-s-inner .cm-atom {
    color: #d19a66 !important;
}

.cm-s-inner .cm-number {
    color: #d19a66 !important;
}

.cm-s-inner .cm-def {
    color: #e06c75 !important;
}

.cm-s-inner .cm-string {
    color: #98c379 !important;
}

.cm-s-inner .cm-string-2 {
    color: #80cbc4 !important;
}

.cm-s-inner .cm-comment {
    color: #629755 !important;
}

.cm-s-inner .cm-tag {
    color: #e06c75 !important;
}

.cm-s-inner .cm-meta {
    color: #e06c75 !important;
}

.cm-s-inner .cm-attribute {
    color: #d19a66 !important;
}

.cm-s-inner .cm-property {
    color: #61afef !important;
}

.cm-s-inner .cm-qualifier {
    color: #decb6b !important;
}

.cm-s-inner .cm-error {
    color: #fff !important;
    background-color: #ec5f67 !important;
}

.cm-s-inner .cm-tag.cm-bracket {
    color: #abb2bf !important;
}

/* 行间代码 */
/*
#write code,
tt {
    padding: 2px 4px;
    border-radius: 2px;
    font-family: 'Source Code Pro', Roboto Mono, Source Sans Pro, 'Microsoft YaHei', '微软雅黑' !important;
    font-size: 0.92rem;
    font-weight: bold;
    color: #ff0202;
    background-color: #f8f5ec;
    /* color: #c7254e;
    background-color: #f9f2f4;  */
/*}
*/

tt {
    margin: 0 2px;
}

#write .md-footnote {
    background-color: #f8f8f8;
    color: #e96900;
}


/* 流程图块 */

#write .md-diagram-panel {
    position: relative;
    margin: 24px auto;
}

#write .md-focus .md-diagram-panel {
    border: 1px solid var(--main-4);
    border-radius: 4px;
}


/* heighlight. */

#write mark {
    background-color: #EBFFEB;
    border-radius: 2px;
    padding: 2px 4px;
    margin: 0 2px;
    color: #222;
    font-weight: 500;
}

#write del {
    padding: 1px 2px;
}


/* 任务列表小方框 */

.md-task-list-item>input {
    margin-left: -1.3em;
    margin-top: 0.3rem;
    -webkit-appearance: none;

}

.md-task-list-item>input:before {
    content: '';
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    vertical-align: middle;
    text-align: center;
    font-size: 0.8rem;

    color: var(--mid-1);
    border-radius: 2px;
    border: 1px solid var(--main-4);
    margin-top: -0.4rem;
    transition: all 0.2s linear;
}

.md-task-list-item>input:checked:before,
.md-task-list-item>input[checked]:before {
    content: '\2714';
    font-size: 0.625rem;

    color: var(--mid-1);
    border: 1px solid var(--main-6);
    background-color: var(--main-6);
}


/* @media print {
    html {
        font-size: 13px;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
} */


/* .md-fences {
    background-color: #f8f8f8;
} */

#write pre.md-meta-block {
    /* padding: 1rem; */
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    color: #777777;
    margin-top: 0 !important;
}

.mathjax-block>.code-tooltip {
    bottom: .375rem;
    /* bottom: .575rem; */
}

#write>h3.md-focus:before {
    left: -1.5625rem;
    top: .375rem;
}

#write>h4.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write>h5.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}

#write>h6.md-focus:before {
    left: -1.5625rem;
    top: .285714286rem;
}


/*--- 图片 ---*/

.md-image {
    margin: 24px auto;
    margin-bottom: 0px;
    border-radius: 4px;
}

.md-image img {
    border-radius: 4px;
}


/* 当 “![shadow-随便写]()”写时，会有阴影 */

.md-image img[alt|='shadow'] {
    /* box-shadow: 0 4px 24px -6px #ddd; */
    box-shadow: #84A1A8 0px 10px 15px;
}

.md-image>.md-meta {
    border-radius: 3px;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    padding: 2px 0 0 4px;
    font-size: 0.9em;
    color: inherit;
}

.md-tag {
    color: inherit;
}

.md-toc {
    margin-top: 20px;
    padding-bottom: 20px;
}

.sidebar-tabs {
    border-bottom: none;
}

#typora-quick-open {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
}

#typora-quick-open-item {
    background-color: #FAFAFA;
    border-color: #FEFEFE #e5e5e5 #e5e5e5 #eee;
    border-style: solid;
    border-width: 1px;
}

#md-notification:before {
    top: 10px;
}


/** focus mode */

.on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
}

header,
.context-menu,
.megamenu-content,
footer {
    font-family: 'Segoe UI', 'Arial', sans-serif;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
    visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
    background-color: var(--side-bar-bg-color);
}

.md-lang {
    color: #b4654d;
}

.html-for-mac .context-menu {
    --item-hover-bg-color: #e6f0fe;
}

/* 消除内联HTML的 上外边距 */
.md-htmlblock.md-rawblock.md-end-block {
    margin-top: 0px;
}

/* 侧边栏 */

.file-list-item.active {
    background: var(--active-file-bg-color);
    color: var(--active-file-text-color);
    border-left: 4px solid var(--main-6);
}

.file-tree-node.active>.file-node-background {
    background-color: var(--active-file-bg-color);
    border-left: 4px solid var(--main-6);
    border-color: var(--active-file-border-color);
}

@media print {
    .typora-export * {
        -webkit-print-color-adjust: exact;
    }

    html {
        font-size: 16px !important;
    }

    body {
        /* font-family: 'Source Han SerifCN', Georgia, Times, 'SimSun', serif!important; */
        /* font-size: 16px!important; */
        font-family: Times, 'SimSun', serif !important;
        color: #000000 !important;
    }

    p {
        color: #000000 !important;
    }

    a {
        color: blue !important;
        /* border-bottom: 1px solid blue!important; */
    }

    table,
    pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }
}